@using Microsoft.AspNetCore.Identity
@using SocialNetwork.Domain.Entities
@using SocialNetwork.Domain.Interfaces.Repositories

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IProfileRepository profileRepo

@{
    var userIdentity = await UserManager.GetUserAsync(User);
    var profile = await profileRepo.GetProfileByUserIdAsync(userIdentity?.Id);

}

<!-- BEGIN #header -->
<div id="header" class="app-header">
    <!-- BEGIN mobile-toggler -->
    <div class="mobile-toggler">
        <button type="button" class="menu-toggler" data-toggle="sidebar-mobile">
            <span class="bar"></span>
            <span class="bar"></span>
        </button>
    </div>
    <!-- END mobile-toggler -->
    <!-- BEGIN brand -->
    <div class="brand">
        <div class="desktop-toggler">
            <button type="button" class="menu-toggler" data-toggle="sidebar-minify">
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </div>

        <a href="/" class="brand-logo">
            <img src="~/img/brand/camell_text_logo.svg" alt="" height="20" />
        </a>
    </div>
    <!-- END brand -->
    <!-- BEGIN menu -->
    <div class="menu">
        <form class="menu-search" method="POST" name="header_search_form">
            <div class="menu-search-icon"><i class="fa fa-search"></i></div>
            <div class="menu-search-input">
                <input type="text" class="form-control" placeholder="Pesquisa ..." />
            </div>
        </form>
        <div class="menu-item dropdown">
            <a href="#" data-bs-toggle="dropdown" data-bs-display="static" class="menu-link">
                <div class="menu-img online">
                    <img src="@(profile?.UriImageProfile != null ? profile.UriImageProfile : "/img/user/user.jpg")" alt="" class="mw-100 mh-100 rounded-circle" />
                </div>
                <div class="menu-text">@User.Identity.Name</div>
            </a>
            <div class="dropdown-menu dropdown-menu-end me-lg-3">
                <a class="dropdown-item d-flex align-items-center" href="@Url.ActionLink("Edit", "Profile", new { area = "" })">Editar Perfil <i class="fa fa-user-circle fa-fw ms-auto text-gray-400 f-s-16"></i></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item d-flex align-items-center" href="/Identity/Account/Logout?returnUrl=@Url.Action("Index", "Dashboard", new { area = "" })">Sair <i class="fa fa-toggle-off fa-fw ms-auto text-gray-400 f-s-16"></i></a>
            </div>
        </div>
    </div>
    <!-- END menu -->
</div>
<!-- END #header -->