@model SocialNetwork.Domain.Entities.AlbumModel
@*@model AlbumViewModel*@


<div class="modal-body">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ProfileId" />
        <input type="hidden" asp-for="CreationDate" />
        
        <div class="form-group">
            <label asp-for="AlbumName" class="control-label"></label>
            <input asp-for="AlbumName" class="form-control" />
            <span asp-validation-for="AlbumName" class="text-danger"></span>
        </div>

        <div><br/></div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            <input type="submit" value="Save changes" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
