@model SocialNetwork.Domain.Entities.AlbumModel
@*@model AlbumViewModel*@


<div class="modal-body">
    <form asp-action="Delete">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ProfileId" />
        <input type="hidden" asp-for="CreationDate" />
        <input type="hidden" asp-for="AlbumName" />
        
        <div class="form-group">
            <p>Deseja deletar o álbum  @Html.DisplayFor(model => model.AlbumName) e suas fotos?</p>
        </div>

        <div><br/></div>
        <div class="form-group">
            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
            <input type="submit" value="Deletar" class="btn btn-danger" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}