@*@model SocialNetwork.Domain.Entities.AlbumModel*@
@model AlbumViewModel

@{
    ViewData["Title"] = "Details";
}

@section Styles {
    <link href="~/lib/photoswipe/dist/photoswipe.css" rel="stylesheet" />
    <link href="~/lib/photoswipe/dist/default-skin/default-skin.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/lib/highlight.js/highlight.min.js"></script>
    <script src="~/js/demo/highlightjs.demo.js"></script>
    <script src="~/js/demo/sidebar-scrollspy.demo.js"></script>
    <script src="~/lib/photoswipe/dist/photoswipe-ui-default.min.js"></script>
    <script src="~/lib/photoswipe/dist/photoswipe.min.js"></script>
    <script src="~/js/demo/page-gallery.demo.js"></script>
}

@section OutterAppContainerContent  {
    <!-- BEGIN #modalEdit -->
    <div class="modal fade" id="modalEditAlbum">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar álbum</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                @{
                    await Html.RenderPartialAsync("_CreateAlbumPartial");
                }

            </div>
        </div>
    </div>
    <!-- END #modalEdit -->
    <!-- BEGIN #modalDelete -->
    <div class="modal fade" id="modalDeleteAlbum">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Deletar álbum</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                @{
                    await Html.RenderPartialAsync("_DeleteAlbumPartial");
                }

            </div>
        </div>
    </div>
    <!-- END #modalDelete -->
    <!-- BEGIN #modalUploadpicture -->
    <div class="modal fade" id="modalUploadpicture">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Carregar fotos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                @{
                    await Html.RenderPartialAsync("_UploadPicturesPartial");
                }

            </div>
        </div>
    </div>
    <!-- END #modalUploadpicture -->
    <!-- BEGIN photoswipe -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- END photoswipe -->
}

<!-- BEGIN #general -->
<div id="@Model.AlbumName" class="mb-5">
    <div class="d-flex align-items-center">
        <div class="gallery-title mb-3">
            <h4>@Model.AlbumName</h4>
            <small>@Model?.CreationDate.Date.ToLongDateString() - @Model?.Pictures.Count() </small>
        </div>
        <div class="ms-auto btn-group">
            <a class="btn" href="#modalEditAlbum" data-bs-toggle="modal">
                <i class="fas fa-pencil-alt"></i>
            </a>
            <a class="btn" href="#modalDeleteAlbum" data-bs-toggle="modal">
                <i class="fas fa-trash-alt"></i>
            </a>
        </div>
    </div>

    <div class="card">
        <!-- BEGIN gallery -->
        <div class="gallery">
            <!-- BEGIN gallery-header -->
            <div class="d-flex align-items-center mb-3">
                <!-- BEGIN btn-group -->
                <div class="ms-auto btn-group">
                    <a href="#modalEdit" data-bs-toggle="modal" class="btn btn-default btn-sm"><i class="fas fa-pencil-alt"></i></a>
                    <a href="#modalUploadpicture" data-bs-toggle="modal" class="btn btn-default btn-sm"><i class="fa fa-plus"></i></a>
                    @*<a asp-controller="Pictures" asp-action="Create" asp-route-id="@Model?.Id" class="btn btn-default btn-sm"><i class="fa fa-plus"></i></a>*@
                    <a href="#modalDelete" data-bs-toggle="modal" class="btn btn-default btn-sm"><i class="fas fa-trash-alt"></i></a>
                </div>
                <!-- END btn-group -->
            </div>
            <!-- END gallery-header -->
            <!-- BEGIN gallery-image -->

            <div class="gallery-image">
                <ul class="gallery-image-list">
                    @foreach (var picture in Model.Pictures)
                    {
                        <li>
                            <a href="@Html.DisplayFor(modelPicture => picture.UriImageAlbum)" itemprop="contentUrl" data-size="752x502">
                                <img src="@Html.DisplayFor(modelPicture => picture.UriImageAlbum)" itemprop="thumbnail" alt="Wedding Image 1" class="img-portrait" />
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <!-- END gallery-image -->
        </div>
        <!-- END gallery -->
    </div>
</div>
<!-- END #general -->