@model SocialNetwork.Domain.Entities.PictureModel

@{
    ViewData["Title"] = "Upload pictures";
}

<h1>Create</h1>

    <h4>Picture</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form id="fileupload" asp-action="Create" method="POST" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="UriImageAlbum" class="control-label"></label>
                    <input type="file" asp-for="UriImageAlbum" class="form-control" multiple required accept=".jpg,.png" />
                    <span asp-validation-for="UriImageAlbum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AlbumId" class="control-label"></label>
                    <select asp-for="AlbumId" class="form-control" asp-items="ViewBag.Albuns">
                        <option selected value="">Escolha o Album</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
